<!DOCTYPE html>
<html>
  <head>
    <title>Project Caitlin</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Project Caitlin</a>
        </div>
      </div>
    </nav>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
      <% events.forEach(function(event){ %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <div class="caption">
            <h4><%= event.summary %></h4>
          </div>
          <p>
            <%= event.location %> <%= event.start.dateTime %> <%=
            event.end.dateTime %>
          </p>
        </div>
      </div>
      <% }); %>
    </div>

    <div id="calendar"></div>
  </body>
</html>
