/* ul {
  padding:0;
  list-style:none;
  width: 30%;
  margin:auto;
}

li{
  font-size:1.2rem;
  line-height: 2rem;
  border-bottom: 1px dotted #777;
} */

/* .fc-event-inner {
	font-family: 'Roboto', sans-serif;
    background: #03a9f3!important;
    color: #FFF!important;
    font-size: 12px!important;
    font-weight: 500!important;
    padding: 5px 0px!important;
} */
